<!-- <p id="notice"><%= notice %></p> -->


<% @articles.each do |article| %>
  <div class="row">
   <div class="small-12 medium-4 columns">
      <h4 class="medium-text-right">
        <%= link_to article.title, article %>
      </h4>
   </div>
   <div class="small-12 medium-8 columns"><%= article.body %><br>
     <%= link_to 'Show', article, class: "button" %>
     <%= link_to 'Edit', edit_article_path(article), class: "button" %>
     <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
    </div>
  </div>
  <br>
<% end %>

<br>

<%= link_to 'New Article', new_article_path %>
